services:
  id_generator:

    container_name: compact_id_gen
    
    # Откуда брать инструкцию по сборке
    build: 
      context: ./services/id_service
      dockerfile: Dockerfile
    
    # Какие порты открыть наружу (Хост:Контейнер)
    ports:
      - "8000:8000"

    volumes:
      - ./services/data:/app/data
    
    # Политика перезапуска (если упадет - встанет сам)
    restart: always

  router_service:
    container_name: compact_router
    build: 
      context: ./services/router_service
    ports:
      - "8001:8001" # Router будет доступен на порту 8001
    volumes:
      - ./services/data:/app/data
    environment:
      - SHARD_LIMIT=100
    restart: always

  api_service:
    container_name: compact_api
    build: 
      context: ./services/api_service 
    ports:
      - "8080:8080"  # Мы заходим на сайт через порт 8080
    depends_on:
      - id_generator
      - router_service
    # Если упадет - поднять
    restart: always